doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Vanilla Todo Take 1
        link(rel="stylesheet", href="main.css")

    body
        block content

        script(src="main.js")